* {box-sizing: border-box;}


#hero-flex {
	justify-content: space-around;
}
@media only screen and (max-width: 767px) {
	#hero-flex img {
		display: block;
		margin: auto;
	}
}

.float {
	position: relative;
	animation: float 1s ease-out infinite alternate;
}

@keyframes float {
	0%   {transform: translate(0, 0);}
	100% {transform: translate(0, -25px);}
}

.hero-content {
	width: 100%;
}