* {box-sizing: border-box;}

.hero-content {
	width: 100%;
}

.intro-img img {
	filter: drop-shadow(50px 40px 0px #0cce6b47);
}

.intro p, .info p {
	font-size: 1.25rem;
}
.intro h2, .info h2 {
	font-size: 1.75rem;
}

.card {
    margin: 0 10px 25px 10px;
    padding: 15px 15px 40px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:nth-child(2) {
	box-shadow: -15px 0 20px -25px, 15px 0 20px -25px;
}

.card img {
	max-width: 150px;
	display: block;
	margin: auto;
}

.info {
    background: linear-gradient(
175deg
, var(--accent), var(--secondary), var(--primary));
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5% 0;
}



.cta h3, .spread h3 {
	font-size: 1.75rem;
	margin-bottom: 25px;
}

.cta .btn-primary {

	background: var(--accent);

	border: 3px solid var(--accent);
}

.cta .btn-primary:hover {
	background: var(--white);
	color: var(--accent);
}

#cta-flex {
	justify-content: space-evenly;
}

#cta-flex .card {
	width: 100%;
}

#cta-flex .card:nth-child(2) {box-shadow: none;}

@media only screen and (min-width: 992px) {
	.move-down {
		margin-top: 10%;
	}
	.cta {
		background: url('../images/divider.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: auto;
	}
}
@media only screen and (max-width: 767px) {
	#hero-flex img {
		display: block;
		margin: auto;
	}
	.hero-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-bottom: 40px;
	}
	.hero hr {
		margin: 20px auto!important;
	}
	.card:nth-child(2) {
		box-shadow: 0 -15px 20px -25px, 0 15px 20px -25px;
	}
}

.float {
	position: relative;
	animation: float 1s ease-out infinite alternate;
}

@keyframes float {
	0%   {transform: translate(0, 0);}
	100% {transform: translate(0, -25px);}
}


