.fof-message hr {
	border: none;
	width: 150px;
	height: 2px;
	background: linear-gradient(135deg, var(--primary), var(--secondary));
	margin: 30px auto;
}

.fof-message .flex-s-25 {
	padding: 0 10px;
}

.fof-message a {
	text-decoration: none!important;
}

.fof-message .btn-primary {
	margin: 7px auto;
}