.sitemap {

}

.sitemap-list {
	width: 100%;
	max-width: 850px;
	margin: auto;
}
.sitemap-list h3 {
	font-size: 24px;
	font-style: italic;
}
.sitemap-list ul {
	list-style-type: disc;
	padding-left: 25px;
}
.sitemap-list li {
	margin-bottom: 15px;
	font-size: 22px;
}
.sitemap-list li, .sitemap-list li a {
	color: black;
}