form div {
}
form label {
	display: block;
	font-weight: 600;
}
form input, form select, form textarea {
	margin-bottom: 15px;
	width: 100%;
	padding: 10px;
	border: 2px solid var(--primary);
	border-radius: 5px;
}

form textarea {
	height: 100px;
}

form hr {
    border: none;
    width: 100px;
    height: 2px;
    background: var(--secondary);
    margin: 10px auto 20px 0;
}

